* {
  text-align: center;
  font-size: 20px;
}
h1 {
  margin-top: 100px;
  font-size: 40px;
}
header img {
  display: block;
  margin:auto;
  height: 200px;
  margin-top: 30px;
}
h3 {
  margin: 30px;
  font-size: 28px;
}
.col-lg-12.col-md-12.col-xs-12 {
  margin-bottom: 10px;
}
.col-lg-6.col-md-6.col-xs-12 {
  padding: 10px;
}
nav,
main {
  margin-top: 100px;
  background-color: #F9F9F9;
}
h2 {
  font-size:32px;
  margin-top: 50px;
}
nav img {
  height: 200px;
}
.col-lg-4.col-md-4.col-xs-12 {
  padding: 10px;
}
main img {
  border-radius: 50%;
  height: 260px;
  margin-top: 80px;
  padding: 30px;
  background-color: #428bca;
}
/* XS-media-query */
@media screen and (max-width: 767px) {
  header,
  main {
    background-color: #F2F2CD;
  }
  header img {
    height: 120px;
  }
  h1 {
    margin-top: 20px;
  }
  h2 {
    margin-top: 5px;
  }
  h3,
  p {
    margin: 5px;
  }
  nav {
    background-color: white;
  }
  nav img {
    margin-top: 30px;
    height: 120px;
  }
  nav,
  main {
    margin-top: 5px;
  }
  main img {
    margin-top: 20px;
    height: 120px;
  }
}
/* MD-media-query */
@media screen and (min-width: 768px) and (max-width: 991px) {

  nav {
    background-color: #FFE4B5;
  }
  nav,
  main {
    margin-top: 20px;
  }
  .col-lg-4.col-md-12.col-xs-12{
    margin-top: 30px;
  }
}